body {
    margin:0;
    font-family: Monospace, Lucida Console;
    background-color: rgba(0, 0, 0, 0.9);
}


.character {

    height: 420px;
    background-image: url("/static/pictures/ai_img.png");
    background-position: center 60%;
    background-repeat: no-repeat;

    display: flex;
    align-items: flex-end;
    justify-content: center;
}

.race-container {
    margin-bottom: 35px;
    display: flex;
    gap: 15px;
}

.ribbon {
    background-color: #222;
    color: rgba(255, 255, 255, 0.852);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

}