body {
    margin:0;
    font-family: Monospace, Lucida Console;
    background-color: rgba(0, 0, 0, 0.9);
    background-image: url("/static/pictures/ai_img.png");
    background-size: cover;
    background-position: center center 60%;
    background-repeat: no-repeat;
}


.race-container {
    margin-top: 300px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.ribbon {
    background-color: #222;
    color: rgba(255, 255, 255, 0.852);
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

}