<!DOCTYPE html>
<html>
<head>
    <title>Skyrim Race Chooser</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<div class="ribbon">
    Skyrim Race Chooser
</div>

<div class="character">
    <div class="race-container">
        <a href="/race/nord"><button>Nord</button></a>
        <a href="/race/khajiit"><button>Khajiit</button></a>
        <a href="/race/argonian"><button>Argonian</button></a>
        <a href="/race/breton"><button>Breton</button></a>
        <a href="/race/high elf"><button>High Elf</button></a>
        <a href="/race/dark elf"><button>Dark Elf</button></a>
        <a href="/race/wood elf"><button>Wood Elf</button></a>
        <a href="/race/imperial"><button>Imperial</button></a>
        <a href="/race/orc"><button>Orc</button></a>
        <a href="/race/redguard"><button>Redguard</button></a>
    </div>
</div>

<div class="description">
    <p>
        Take the quiz to find out which playable race suits your play-style best.
    </p>
</div>

<div class="quiz-container">
    <a href="/quiz"><button class="quiz" >Quiz</button></a>
</div>

</body>
</html>